<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : Config.xml
    Created on : December 16, 2009, 9:31 AM
    Author     : XaeroDegreaz
    Description:
        This document sets up the inicial configuration for SmartSocket.
-->

<config>
	<constants>
		<SMARTSOCKET_DATA_PROTOCOL><![CDATA[json]]></SMARTSOCKET_DATA_PROTOCOL>
		<SMARTSOCKET_EXTENSION_DIR><![CDATA[./extensions]]></SMARTSOCKET_EXTENSION_DIR>
	</constants>

	<extensions>
		<extension enabled="true" name="Example" port="8889" />-->
		<extension enabled="true" name="SmartLobby" port="8888" />
	</extensions>
</config>
